<ion-header>
    <ion-navbar color="dark">
        <ion-title text-center>Dashboard</ion-title>
        <ion-buttons right>
            <button settings-options ion-button icon-only>
                <ion-icon ios="ios-settings" md="ios-settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

    <ion-list-header no-lines ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3>
        <p>Measurements → {{sensorMeasurements.date | date: 'short'}}</p>
    </ion-list-header>
</ion-header>


<ion-content no-bounce>

    <div *ngIf="!noMeasurements" class="sensor-card" ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3>
        <ion-card class="gradient-1" (tap)="goToPage('temperature')">
            <div class="sensor-name">
                <ion-icon ios="ios-thermometer" md="ios-thermometer"></ion-icon>
                Temperature
            </div>
            <div class="sensor-value">{{sensorMeasurements.temperature}} °C</div>
        </ion-card>

        <ion-card class="gradient-2" (tap)="goToPage('humidity')">
            <div class="sensor-name">
                <ion-icon ios="ios-water" md="ios-water"></ion-icon>
                Humidity
            </div>
            <div class="sensor-value">{{sensorMeasurements.humidity}} %</div>
        </ion-card>

        <ion-card class="gradient-3" (tap)="goToPage('presure')">
            <div class="sensor-name">
                <ion-icon ios="ios-analytics" md="ios-analytics"></ion-icon>
                Pressure
            </div>
            <div class="sensor-value">{{sensorMeasurements.presure}} Pa</div>
        </ion-card>

        <ion-card class="gradient-4">
            <div class="sensor-name">
                <ion-icon ios="ios-cloud-outline" md="ios-cloud-outline"></ion-icon>
                Smoke Lvl.
            </div>
            <div class="sensor-value">{{sensorMeasurements.gas_smoke}}</div>
        </ion-card>

        <ion-card class="gradient-5">
            <div class="sensor-name">
                <ion-icon ios="ios-cloud" md="ios-cloud"></ion-icon>
                CO<small>2</small> Lvl.
            </div>
            <div class="sensor-value">{{sensorMeasurements.gas_CO}}</div>
        </ion-card>

        <ion-card class="gradient-6">
            <div class="sensor-name">
                <ion-icon ios="ios-cloud-circle-outline" md="ios-cloud-circle-outline"></ion-icon>
                LPG Lvl.
            </div>
            <div class="sensor-value">{{sensorMeasurements.gas_LPG}}</div>
        </ion-card>
    </div>

    <div *ngIf="noMeasurements" class="no-data">
        <div class="no-data-msg">
            <button ion-button icon-only large clear disabled>
                <ion-icon ios="ios-analytics" md="ios-analytics" color="dark"></ion-icon>
            </button>
            <h3>There are no measurements available</h3>
        </div>
    </div>


</ion-content>
