page-dashboard {

    // .scroll-content {
    //     background-color: map-get($colors, light);
    // }

    .no-data {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1em;
        width: 80%;

        .no-data-msg {
            color: map-get($colors, red);
            text-align: center;
        }
    }

    .sensor-card {

        ion-card {
            position: relative;
            padding: 1em;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-content: center;
            align-items: center;
            font-size: 1.5em;
            text-shadow: 1px 1px map-get($colors, shadowText);
            color: map-get($colors, light);
            background: linear-gradient( to right, map-get($colors,red), map-get($colors,yellow) );
        }

        // gradients
        .gradient-1 { background: linear-gradient( to right, map-get($colors,red), map-get($colors,yellow) ); }
        .gradient-2 { background: linear-gradient( to right, map-get($colors,yellow), map-get($colors,green) ); }
        .gradient-3 { background: linear-gradient( to right, map-get($colors,green), map-get($colors,blue) ); }
        .gradient-4 { background: linear-gradient( to right, map-get($colors,blue), map-get($colors,darkBlue) ); }
        .gradient-5 { background: linear-gradient( to right, map-get($colors,darkBlue), map-get($colors,blue) ); }
        .gradient-6 { background: linear-gradient( to right, map-get($colors,blue), map-get($colors,green) ); }

        .sensor-name {
            font-weight: 400;
        }

        .sensor-value {
            font-weight: 900;
        }
    }

}
