page-sensor {

    .sensor {
        .sensor-value {
            font-size: 5em;
            margin: 0;
            font-weight: bold;
        }

        .sensor-unit {
            font-size: 2em;
            margin: 0.5em 0 0;
        }

        .sensor-time {
            font-size: 1.3em;
            margin: 0.5em 0 0;
        }
    }
}
