<ion-header>
    <ion-navbar color="dark">
        <ion-title text-center>{{sensorType}}</ion-title>
        <ion-buttons right>
            <button settings-options ion-button icon-only>
                <ion-icon ios="ios-settings" md="ios-settings"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content no-bounce>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
            pullingIcon="ios-arrow-round-down-outline"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="!noSensorData" ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3>
        <canvas #sensorCanvas></canvas>
    </div>

    <div *ngIf="noSensorData" class="no-data">
        <div class="no-data-msg">
            <button ion-button icon-only large clear disabled>
                <ion-icon name="ios-analytics-outline" color="red"></ion-icon>
            </button>
            <h5>Looks like the RaspberryPi hasn't sent any data for the last 2 hours.</h5>
            <h5>Pull down to refresh the page</h5>

            <button ion-button outline block
                ion-col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3
                color="red" (tap)="goToDashboard()">
                Go to Dashboard
            </button>

            <h5>Also make sure that RaspberryPi is turned on.</h5>
        </div>
    </div>

</ion-content>
